*{
  margin:0;
  padding:0;
}

.note{
  font-family:arial,sans-serif;
  font-size:100%;
  background-color: #ffc;
}

.form-control,
.form-control:focus{
    border: 0px;
    background-color: transparent;
}

.title {
  font-size:130%;
}

.text {
  display:block;
  height:9em;
}

.notelist textarea{
  resize: none;
}

.notelist h2,p{
  font-size:100%;
  font-weight:normal;
}

.notelist ul,
.notelist li{
  list-style:none;
}

.notelist ul{
  overflow:hidden;
  padding:3em;
}

.notelist li{
  margin:1em;
  float:left;
}

.notelist h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}

.note1,
.note6{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.note2,
.note7{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

.note3,
.note8{
  -o-transform:rotate(7deg);
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  position:relative;
  top:-10px;
  background:#ffc;
}

.note4,
.note9{
  -o-transform:rotate(-8deg);
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  position:relative;
  top:10px;
  background:#fcf;
}

.note5,
.note10{
  -o-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  position:relative;
  background:#cff;
}
