/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #000;
}

h3 {
    color: #000;
}
/* Custom Button Styles */
.btn-light {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0);
}

.btn-light:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

.btn-light:active {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.info {
  bottom: 0;
  right: 0;
  margin-left: 22px;
}
